<h2>{{model.name}} {{model.height}} ft</h2>
<h3>Hikes</h3>

<ul>
{{#each model.hikes as |hike|}}
{{mountain-hike
  hike=hike
  deleteHike='deleteHike'}}

  {{!-- <li>{{hike.when}}
{{hike.trail}}
{{hike.duration}}
{{hike.note}}<br>
<button {{action 'deleteHike' this}}>delete</button></li> --}}

{{/each}}
</ul>
